<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>60529778325-5e9ccpcsjospb3h6lh4a0oq2uqesrb5r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.60529778325-5e9ccpcsjospb3h6lh4a0oq2uqesrb5r</string>
	<key>API_KEY</key>
	<string>AIzaSyBP_knUCJkr936Yo92HD-d-hJxBwQDvlBE</string>
	<key>GCM_SENDER_ID</key>
	<string>60529778325</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.trevinwisaksana.CoffeeAlum</string>
	<key>PROJECT_ID</key>
	<string>coffeealum-beta-c723a</string>
	<key>STORAGE_BUCKET</key>
	<string>coffeealum-beta-c723a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:60529778325:ios:7f90d0edc0c7331c</string>
	<key>DATABASE_URL</key>
	<string>https://coffeealum-beta-c723a.firebaseio.com</string>
</dict>
</plist>